{% extends "core/base.html" %}

{% load static %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-12 col-md-8 order-2 order-md-1">
        <h4 class="mb-3">Bienvenido</h4>
        <hr class="mb-4">
        {% if 'register' in request.GET %}
        <p> Usuario registrado correctamente !</p>
        {% endif %}
        <form action="" method="post">{% csrf_token %}
            <div class="mb-3">
                <label for="username"><b>Usuario</b></label>
                <input type="text" class="form-control" placeholder="" name="username">
            </div>

            <div class="mb-3">
                <label for="password"><b>Contraseña</b></label>
                <input type="password" class="form-control" placeholder="" name="password">
            </div>
            <br>
            <input type="submit" value="Entrar" class="btn btn-block btn-lg btn-danger">

            <br>
        </form>
    </div>

</div>

{% endblock %}